<indepth-post-info>
  <div class="author">
    By
    <%= author_list.html_safe %>
  </div>
  <div class="last-update">
    <%= "Last update on #{@last_update.strftime("%B %d, %Y")}" %>
  </div>
</indepth-post-info>
